In [ ]:
#Num:Write an eqn that uses mult, divi, an exponent, addition, and subtraction that is equal to 100.25.

In [139]:
100.25 * 2 / 2 ** 2 + 50.25 - 0.125

100.25

In [6]:
#Explain what the cell below will produce and why. Can you change it so the answer is correct? (2/3)

In [9]:
2/3

0.6666666666666666

In [10]:
s = 'hello'
# Print out 'e' using indexing

# Code here
print(s[1])

e

In [12]:
s ='hello'

# Reverse the string using indexing

# Code here
print(s[::-1])

olleh

In [13]:

s ='hello'

# Given the string hello, give two methods of producing the letter 'o' using indexing.

# Code here

In [14]:
s[-1]

'o'

In [18]:
s[4]

'o'

In [ ]:
#create a list of [0,0,0] in two different ways

In [20]:
mylist=[0,0,0] #method:1
print(mylist)

[0, 0, 0]

In [33]:
my_list=[]  #method:2

In [34]:
my_list

[]

In [35]:
my_list.insert(0,0)

In [36]:
my_list.append(0)

In [37]:
my_list.insert(2,0)

In [39]:
my_list

[0, 0, 0]

In [40]:
newlist=[0] * 3 #method3

In [41]:
newlist

[0, 0, 0]

In [42]:
#Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [43]:
l = [1,2,[3,4,'hello']]

In [48]:
l

[1, 2, [3, 4, 'hello']]

In [49]:
l[2][2]="goodbye"

In [50]:
l

[1, 2, [3, 4, 'goodbye']]

In [51]:
#Sort the list below:

In [52]:
l = [5,3,4,6,1]

In [53]:
l.sort()

In [54]:
l

[1, 3, 4, 5, 6]

In [55]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [56]:
d['simple_key']

'hello'

In [57]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [58]:
d['k1']['k2']

'hello'

In [62]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]} 

#Grab hello

In [96]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [97]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [107]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [108]:
#Use a set to find the unique values of the list below:
l = [1,2,2,33,4,4,11,22,3,3,2]

In [111]:
set(l)

{1, 2, 3, 4, 11, 22, 33}

In [112]:
3<=2

False

In [113]:
3==0.2

False

In [114]:
3==3.0

True

In [115]:
4**0.5!=2

False

In [121]:
#bool test
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [122]:
l_one[2][0] >= l_two[2]['k1']

False