In [2]:
name="Shyam"

In [8]:
name[0]="P" #a string cannot be modified calling its index value and reassigning with another character

TypeError: 'str' object does not support item assignment

In [20]:
name="Salil" #value changes from Shyam to Salil

In [21]:
name

'Salil'

In [22]:
fullname="Shyam "+name
fullname

'Shyam Salil'

In [23]:
'2'+'3'

'23'

In [90]:
xx="shyama loves dv"

In [91]:
xx.capitalize() #first letter capitalizing

'Shyama loves dv'

In [92]:
yy="ABC"
yy.casefold() #making it smaller case

'abc'

In [93]:
xx.count('s') #counts the number of occurrences

2

In [94]:
xx.isupper()

False

In [95]:
xx.islower()

True

In [96]:
xx.isnumeric()

False

In [97]:
xx.upper()

'SHYAMA LOVES DV'

In [98]:
xx.lower()

'shyama loves dv'

In [99]:
xx.split() #basic word tokenization

['shyama', 'loves', 'dv']

In [85]:
x="Shyam"

In [67]:
x.split()

['Shyam']

In [68]:
x= "Malayalam"

In [71]:
x.split('a')

['M', 'l', 'y', 'l', 'm']

In [73]:
x="This is cool"

In [75]:
x.split('i')

['Th', 's ', 's cool']

In [77]:
x="Insidious is intense"

In [79]:
x.split('i')

['Ins', 'd', 'ous ', 's ', 'ntense']

In [89]:
y="A real mathematician can mathematically mathematise mathematics in a mathematical mathematiculation"

In [101]:
y.split('m')

['A real ',
 'athe',
 'atician can ',
 'athe',
 'atically ',
 'athe',
 'atise ',
 'athe',
 'atics in a ',
 'athe',
 'atical ',
 'athe',
 'aticulation']

In [102]:
y.split()

['A',
 'real',
 'mathematician',
 'can',
 'mathematically',
 'mathematise',
 'mathematics',
 'in',
 'a',
 'mathematical',
 'mathematiculation']